/*Body
Pick a nice background-color, font-family, color, font-size and line-height for the <body>. *Setting these font rules at the body-level will apply them on all basic text tags * (<p>, <li>, etc.).

Headers
Choose a nice color and font-family for headers (<h1>, <h2>, <h3>)
Choose harmonious font-size and line-height for headers
Hint: small headers are more elegant. If you check out any website (Medium, Airbnb, etc.), you'll see that the font-size of their headers is quite small.
Links
Change the color & text-decoration of all the links
Add hover effects to links using the pseudo-class a:hover.*/

body {
    background: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 1.6em;
}

h1 {
    color: #F96D00;
    font-size: 32px;
    line-height: 20px;

}

h1, h2, h3 {
    color: #F96D00;
    font-family: 'Pacifico', sans-serif;
}

a{
color: #F96D00; text-decoration: none;
}
a:hover {
text-decoration: underline;
}


.container {
  text-align: center;
  margin: 30px auto;
  margin-bottom: 10px;
}

.card {
  /*display: inline-block;*/
  background: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
  margin-top: 2px;

  border-radius: 5px;
}

.footer {

  text-align: center;

  background: white;
  padding: 10px;
  margin: 0 auto;
/*  margin-bottom: 5px;*/
/*  margin-bottom: 5px;*/
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 700px;
  border-radius: 5px;
}

#img-profile {
    width: 85px;
    height: 105px;
    border: 3px solid #cccccc;
}

.img-circle {
    border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}
